<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userRoleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="userRoleModal" tabindex="-1" role="dialog" aria-labelledby="userRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userRoleModalLabel">Add User Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="codeId">Code</label>
                <input type="text" [(ngModel)]="code" name="code" class="form-control" id="codeId">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="desriptionId">Desciption</label>
                <input type="text" [(ngModel)]="description" name="description"  class="form-control" id="desriptionId">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="statusId">Status</label>
                <select class="custom-select" [(ngModel)]="status" name="status" id=statusId>
                  <option value="" selected>---</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onClickSave()">Save changes</button>
      </div>
    </div>
  </div>
</div>